# compiled code
/target
# other apps' data
/data
# git data
.git
.gitignore
# OS
**/.DS_Store
# IDE
.vscode
# sql in root directory (created by SQLTools extension)
/*.sql
# only keep default uploads
/uploads/*
!/uploads/default
# remove all examples and READMEs
**/*.example
**/README*
# env secrets
.env