# Port on which webserver runs
PORT=8080

# PostgreSQL database credentials
POSTGRES_DB="postgres"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="password"
POSTGRES_IP="localhost"
POSTGRES_PORT=5432
# Auto generated connection string
POSTGRES_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_IP}:${POSTGRES_PORT}/${POSTGRES_DB}"

# Needed for sqlx migrations and compile-time checks
DATABASE_URL=${POSTGRES_URL}

# Redis database credentials
REDIS_IP="localhost"
REDIS_PORT=6379
# Auto generated connection string
REDIS_URL="redis://${REDIS_IP}:${REDIS_PORT}"

# Domain and email for getting ssl cerrificates
DOMAIN=example.com
EMAIL=example@gmail.com

# SMTP email and password for sending email notifications (using smtp.gmail.com)
SMTP_ADDRESS=example@gmail.com
SMTP_PASSWORD=password

# Logging level. Could be: [error / warn / info / debug / trace]
RUST_LOG=info