# compiled code
/target
# OS
.DS_Store
# IDE
/.vscode
# env secrets
.env
# rsa secret keys
*.key
# other apps' data
/data/*/*
# keep nginx templates
!/data/nginx/*template*.conf
# static files
/static/*
# sql in root directory (created by SQLTools extension)
/*.sql
# keep all examples and READMEs
!*.example
!README*
# regexes for user agent parser, they should be downloaded through script
regexes.yaml